.clouds{
position:absolute;
height: 100px;
width: 350px;
background-color: black;
}
#cloud1{
	opacity:0.6;
	bottom: 1070px;
	-webkit-animation-name: cloud1;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: cloud1;
	-moz-animation-duration: 30s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: cloud1;
	-ms-animation-duration: 30s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: cloud1;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#cloud2{
	z-index:1;
	opacity:0.2;
	bottom: 900;
	-webkit-animation-name: cloud2;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: cloud2;
	-moz-animation-duration: 20s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: cloud2;
	-ms-animation-duration: 20s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: cloud2;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#cloud3{
	opacity:0.5;
	bottom: 750;
	-webkit-animation-name: cloud2;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: cloud2;
	-moz-animation-duration: 15s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: cloud2;
	-ms-animation-duration: 15s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: cloud2;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}