#rocket{
z-index:0;
bottom: 40px;
left:45%;
position: fixed;
height: 400px;
width: 100px;
background-color:red;
}
#earth{
position: absolute;
bottom:0px;
height:400px;
width: 100%;
background-color:green;
}
#sky{
position: absolute;
height: 4000px;
width: 100%;
background: rgb(0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(30,87,153,1) 54%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(54%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(30,87,153,1) 54%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(30,87,153,1) 54%,rgba(125,185,232,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(30,87,153,1) 54%,rgba(125,185,232,1) 100%);
background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(30,87,153,1) 54%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7db9e8',GradientType=0 );
}